*
{
margin: 0;
padding: 0;
}
body {
    background-image: url("../imges/background.jpg");
    
}
.feature-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50;
}
#motivation{
    text-align: center;
}